*{
    padding: 0;
    margin: 0;
}
/* Nav Bar Logo */
.nav-bar-logo{
    position: relative;
    /* left: -150px !important; */
}


/* Starting Container */
.container-starting-intro{
    display: flex;
}
/* Starting Container Ended */